.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
 }
 
 .button {
	display: block;
	margin-right: 10px;
	border: 1px solid black;
	border-radius: 3px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
	  0px 2px 1px rgba(0, 0, 0, 0.2);
	cursor: pointer;
 }
 
 .button:active {
	background-color: blue;
 }
 
 .form {
	border: 1px solid black;
	width: 400px;
	padding: 10px 0;
	margin-top: px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
 }
 
 .input {
	margin: 0 auto 10px;
	border: 1px solid black;
	border-radius: 2px;
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
 }
 
 .input:focus {
	outline: transparent;
	border: 1px solid blue;
	border-radius: 2px;
 }
 
 
 
 .filter {
	margin: 10px auto;
	border: 1px solid black;
	width: 400px;
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

 }
 
 .block_list{
	padding: 0;
	border: 1px solid black;
 }
 .list {
	display: flex;
	padding: 10px 0 10px 10px; 
	width: 400px;
	justify-content: space-between;
	align-items: center;
 }